.post-container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.post-list {
    width: 100%;
    border-collapse: collapse;
}

.post-list > thead {
    background-color: rgb(255, 247, 249);
}

.post-list td,
.post-list th {
    padding: 8px 16px;
    text-align: center;
}

.post-list > tbody > tr > td:nth-child(2) {
    text-align: start;
}

.post-list tr {
    border-bottom: 1px solid rgb(255, 229, 234);
}

.post-btn-box {
    display: flex;
    justify-content: end;
    margin-top: 16px;
}

.post-btn {
    cursor: pointer;
    background-color: pink;
    color: white;
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
    font-weight: bold;
}

.list-title {
    color: black;
    text-decoration: none;
}

.list-title:hover {
    text-decoration: underline;
}
